.example-spacer {
  flex: 1 1 auto;
}

.spacing {
  margin: 5% auto;
}

.text-center {
  text-align: center !important;
}

::ng-deep .mat-form-field-infix {
  min-width: 260px !important;
  width: fit-content !important;
}
